/*	light blue = #00dffc
	blue = #00b4cc
	dark blue = #008c9e
	navy = #005f6b
	black = #343838
	grey = #757575
	dark grey = #505050
	white = #ffffff
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	*/

@font-face
{
font-family: textFont;
src: url(Existence-StencilLight.otf);
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url(img/sandpaper.png);
	
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	height: 100%;
	width:100%
}

#top{
	height:7em;
	width:100%;
	background-color: rgba(255,255,255,0.7);
	position:fixed;
}
#search{
	margin-top:2.25em;
	margin-left:2.25em;
}
#search_input{
	background-color:#ffffff;
	border:none;
	font-size:1em;
	height:2.5em;
	width:10em;
	outline:0;
	padding: 0px 0px 0px 0.75em;
	font-family: textFont;
	font-weight: 300;
	color:#323232;
}

#search_input:focus{
	outline:0;
}
#search_button{
	background-color:#505050;
	height:2.5em;
	width:2.5em;
	overflow:hidden;
	margin-top:-2.5em;
	margin-left:10.75em;
}

#search_button:hover{
	cursor:pointer;
}

#search_button:active{
	background-color: #757575;
}



#search_img{
	width:1em;
	height:1em;
	margin-top:0.75em;
	margin-left:0.75em;
}

#main_icon{
	width:6em;
	height:6em;
	position:relative;
	left:50%;
	margin-left:-3em;
	margin-top:-4.25em;
}

#user_logo{
	width:4em;
	height:4em;
	border-radius:10px;
	background-color:#ffffff;
	float:right;
	margin-right:8.5em;
	margin-top:-3.25em;
}

#user_img{
	width: 2em;
	height:2em;
	margin-top:1em;
	margin-left:1em;
}

#sign_in{
	width:5em;
	height: 2em;
	line-height:2.1em;
	font-family: textFont; 
	font-weight: 500;
	background-color:#008c9e;
	color:#ffffff;
	text-align:center;
	float:right;
	margin-top:-2.25em;
	margin-right:2.5em;
}

#sign_in:hover{
	cursor:pointer;
}

#sign_in:active{
	background-color: #757575;
}


#content{

	
}

#overlay{
	width:100%;
	height:100%;
	position:fixed;
	background-color:#005f6b;
	opacity:0;
	top:0;
	left:0;
	bottom:0;
	right:0;
	transition: all .3s ease;
	z-index:2;
	pointer-events:none;
	
}